<!DOCTYPE html>
<html>
	<head>
		<title>Passport-Local Example</title>
	</head>
	<body>
		<% if (!user) { %>
			<p>
			<a href="/">Home</a> | 
			<a href="/admin">Admin Page</a> | 
			<a href="/login">Log In</a> |
			<a href="/register">Register</a>
			</p>
		<% } else { %>
			<p>
			<a href="/">Home</a> | 
			<a href="/admin">Admin Page</a> | 
			<a href="/account">Account</a> | 
			<a href="/logout">Log Out</a>
			</p>
		<% } %>
